*{
	box-sizing: border-box;
}
.wrapper{
	min-height: 200px;
	background-color: #ffffff;
	padding: 70px 100px;
	overflow: auto;
}

.header{
	font-size: 74px;
}
.header a{
	color: black;
	text-decoration: none;
}
#logo{
	color: #4bcaff;
}


/*menu header*/
.menu{
	background-color: #35444f;
	height: 70px;
	margin-top: 50px;
}
.menu ul{
	text-align: center;
}
.menu li{
	display:inline-block;
	list-style-type: none;
}
.menu a{
	display: block;
	color: white;
	font-size: 22px;
	padding:20px 40px;
	text-decoration: none;
}
.menu a:visited,.menu a:hover,.menu a:active{
	background-color: #222f3a;
	border-left: 1px solid #818181;
	border-right: 1px solid #818181;
}

.cont_side:last-child::after{
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
.cont_side{
		overflow: auto;
}

/*sidebar_menu*/
.sidebar{
	margin-top: 50px;
	width: 30%;
	height: 400px;
	border:1px solid #35444f;
	float: left;
}
.sidebar ul{
	height: 100%;
	margin: 0 0 0 -40px;
}
.sidebar li{
	list-style-type: none;
	height: 20%;
}
.sidebar a{
	display: block;
	height: 100%;
	padding: 25px 40px;
	font-size: 20px;
	color: #495863;
	text-decoration: none;
}
.sidebar a:visited,.sidebar a:hover,.sidebar a:active{
	background-color: #dbdbdb;
	color: black;
	font-weight: bolder;
	padding-left: 50px;
}

/* contant img */
.content{
	width: 70%;
	float: left;
	padding: 50px 0 50px 50px;
}
.rama{
	border:1px solid #35444f;
	height: 100%;
}
.img{
	background-image: url("img.png");
	width: 320px;
	height: 380px;
	margin:70px auto ;
}

/* content txt */
.content p{
	font-size: 14px;
	margin-top: 50px;
	padding-left: 30px;
}

/*navigacia foooter*/

.footer_menu{
	background-color: #b4b7ba;
	height: 70px;
	margin-top: 50px;
}
.footer_menu li{
	display: inline-block;
	list-style-type: none;
		font-size: 22px;
}
.footer_menu a{
	display: block;
	height: 100%;
	padding: 25px 20px;
	color: black;
	text-decoration: none;
}
.footer_menu a:hover{
	text-decoration: underline;
	color:#548fab;
}
#com{
	float: right;
	padding: 25px 20px;
}