body{
	background-color: #3a4965;
}
*{
	box-sizing: border-box;
}
/*параметры таблицы*/
.containeer{
	min-height: 300px;
	margin: 100px auto;
	width: 1190px;
}
	.containeer table{
	width: 100%;
	border:1px solid silver;
	color: #484848;
}
table th,table td{
	width: 25%;
	border-left: 1px solid #e3e3e3;
	text-transform: uppercase;
	text-align: center;
}

/*делаю шапку*/
	.containeer thead{
	height: 156px;
}
	.containeer thead th{
	font-size: 24px;
	background-color: #fafafa;
	height: 50%;
}

/*первая строчка хедера*/
#big_txt{
	font-size: 40px;
}
#green{
	background-color: #20807c;
}
#light_green{
	background-color: #89c331;
}
#red{
	background-color: #f04a56;
}
#red,#light_green,#green{
	color: #ffffff;
	font-size: 32px;
}
#red:hover,#light_green:hover,#green:hover{
	font-size: 40px;
}

/*вторая строчка хедера(цены)*/
#price th{
	font-size: 70px;
}
#price sup{
	font-size: 32px;
}
#price span{
	font-size: 24px;
	font-weight: 400;
	margin-left: -40px;
}

/*работа с телом таблицы*/
tbody tr{
	height: 70px;
}
tbody td{
	font-size: 22px;
}
.uncolor{
	background-color: #f2f2f2;
}
.color{
	background-color: #e3e3e3;
}
tbody img{
	height: 20px;
	width: 23px;
}

/*работа с футером и кнопками*/
tfoot{
	height: 110px;
}
.input1,.input2,.input3,.input4{
	width: 190px;
	height: 50px;
	border-radius: .5em;
	margin: auto;
}
.input{
	padding: 15px;
	display: block;
	text-decoration: none;
	color: #ffffff;
	height: 100%;
}
.input1{
	background-color: #484848;
}
.input2{
	background-color: #89c331;
}
.input3{
	background-color: #f04a56;
}
.input4{
	background-color: #20807c;
}
.last td:first-child{
	background-color: #dddddd;
}
.last td:nth-child(2){
	background-color: #eeeeee;
}
.last td:nth-child(3){
	background-color: #f4f4f4;
}
.last td:nth-child(4){
	background-color: #eeeeee;
}

.input:hover{
	font-weight: bold;
}
