/*пединги и бордеры не добавляют размер блока*/
*{
box-sizing: border-box;
}
body{
background-color: grey;
}
/*параметры родителя*/
.wrapper{
width: 750px;
margin: 0 auto;
}
/*работаем с шапкой*/
.header{
height: 235px;
background-color: #2d7053;
}
.header1,.header2,.header3{
width: 33.33%;
height: 100%;
float: left;
display: inline-block;
}
.circle{
height: 140px;
width: 140px;
border-radius: 70px;
background-color: white;
margin: 50px auto;
}
.header p{
margin-top: 50px;
color: white;
font-size: 30px;

}
.lines{
	height:80px;
	width:85px;
	margin:80px auto;
}
.line1,.line2,.line3{
	height:12px;
	margin:20px;	
	width:84px;
	background-color:white;
	border-radius:5px;
}
/*картинка+записаться на прием*/
.content{
height: 466px;
background-image: url(img.png);
padding-top: 345px;
}
.input{
width: 341px;
height: 75px;
background-color: #cb9223;
margin: 0 auto;
}
.input a{
display: block;
text-decoration: none;
color: white;
font-size: 25pt;
padding: 20px 25px;
}
/*контент на белом блоке*/

.content_header{
height: 347px;
}
.content1{
background-color: white;
padding: 50px;
}
.img{
display: inline-block;
width: 247px;
height: 247px;
border-radius: 123px;
background-image: url(img1.png);
float: left;
}
.content1-inner{
float: right;
display: inline-block;
width: 300px;
height: 247px;
margin: 50px;
}
.bigtxt{
font-size: 36pt;
}
#name,.txt p , .txt li{
font-size: 24px;
}

.txt h2{
	font-weight: 400;
	font-size: 36pt;
}
.txt li{
	list-style-type: "-";
}
.txt ul{
	margin-bottom:60px;
}

/*работа с футером*/
.footer{
	height:153px;
	background-color:#888888;
	color:white;
	font-size:18px;
}
.footer1,.footer2,.footer3{
	width:33.33%;
	height:100%;
	float:left;
}
.circle1{
	height:96px;
	width:96px;
	border-radius:48px;
	margin:25px auto;
	background-color:white;
}
.footer2 p{
	margin-top:100px;
	text-align: right;
}
.footer3 p{
	margin-top:50px;
	text-align:center;
	line-height:40px;
}